.App{
  text-align: center;
}
.input{
  width: 60%;
  margin: auto;
  margin-top: 15%;
}

.input h2{
  color: white;
  margin-bottom: 10%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input span{
  color: #E07C24;
  margin-bottom: 10%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-control{
  background-color: #12B0E8;
}

.img-01{
  width: 40%;
  margin: 2%;
  height: 40vh;
}

.img-02{
  width: 40%;
  margin: 2%;
  height: 40vh;
}

.images{
  margin-top: 2%;
}

.btn{
  margin-top: 5%;
  border: none;
  margin-bottom: 2%;
}

a{
  text-decoration: none;
  color: white;
}

